.bgcontainer {
  background-color: rgb(245, 245, 245);
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  padding: 0.5rem 3rem;
}

.container {
  max-width: 75rem;
  padding: 1.5rem 2rem;
  margin: 0 auto;
}

.three {
  /* display: flex; */
  width: 33%;  
  /* padding-left: 3%; */
  /* margin: 0 3rem; */
  padding: 0 3rem;;
  
}

.format{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-bottom: 4rem;
 
}

.newletter{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;

  
}

.undertext{
  text-align: center;

}
@media (max-width: 900px) {
  .format{
    display: block;
  
  }
  .three {
    width: 100%;
    margin-bottom: 2rem;
    padding: 0;
  }
  
}